/* Complete reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
}

/* Map container - fills entire viewport */
/* Wrapper genitore per il div mappa */
#wrapper {
    width: 100%;
    height: 100vh; /* tutta l’altezza del viewport */
    position: relative; /* serve per posizionare #map assoluto dentro di esso */
}

/* Map container - riempie il wrapper */
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Floating home button */
.floating-button {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 1000;
}

.floating-button .btn {
    background-color: #00087c;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);*/
    border-radius: 5px;
    border: none;
}

.floating-button .btn:hover {
    background-color: #00087c;
    color: white;
}

.ol-control {
    background: transparent !important;
    box-shadow: none !important;
}

/* OpenLayers controls positioning */
.ol-zoom {
    top: 20px;
    left: 10px;
    right: auto;
    z-index: 1200;
}

.ol-attribution {
    bottom: 5px;
    right: 5px;
}

/* Responsive adjustments */
/*
@media (max-width: 768px) {
    .legend-container {
        max-width: 250px;
        font-size: 12px;
    }
    
    .floating-button {
        top: 10px;
        left: 10px;
    }
    
    .ol-popup {
        min-width: 200px;
        max-width: 300px;
    }
}*/

.custom-control {
    position: absolute !important;
    bottom: 10px;
    right: 10px;

    top: auto !important;
    left: auto !important;

    z-index: 1000;

    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 4px;

    font-family: monospace;
    font-size: 13px;
}

/* Fallback simple layer switcher styles */
.custom-layer-switcher ul li div {
    font-size: 13px;
}
.custom-layer-switcher label {
    font-size: 13px;
}

#custom-switcher-reopen-btn {
    position: absolute;
    top: 3.5em;
    right: 0.5em;
    background: #00087c;
    color: #fff;
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2000;
}

